* {
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
    
	-fx-focus-color: -fx-secondary-color;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
	-fx-background-color: -fx-secondary-color;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color: white;
	
}

.spinner .text-field {
    -fx-background-color: #b9b9b9, white;
	-fx-font-family: "Franklin Gothic Medium";
	-fx-font-size: 17;
	-fx-alignment: center-right; 
    -fx-accent: #007acc;
	-fx-background-insets: 0, 0 0 0 0;
	-fx-background-radius: 0;
	-fx-padding: 1px;

}
